<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployerPage"
        tools:targetApi="31" >
        <activity
            android:name=".AppliedActivity"
            android:exported="false"
            android:label="@string/title_activity_applied"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".JobDetailsforSeeker"
            android:exported="false" />
        <activity
            android:name=".JobPageforSeeker"
            android:exported="false" />
        <activity
            android:name=".jobDetailtoProvider"
            android:exported="false" />
        <activity
            android:name=".MyAdaptertoProvider"
            android:exported="false" />
        <activity
            android:name=".jobDetailstoProvider"
            android:exported="false" />
        <activity
            android:name=".jobPostedByEmployer"
            android:exported="false" />
        <activity
            android:name=".postJobDescription"
            android:exported="false"
            android:label="@string/title_activity_post_job_description"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".jobDetail"
            android:exported="false"
            android:label="@string/title_activity_job_detail"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".seekerDetailsPage"
            android:exported="false"
            android:label="@string/title_activity_seeker_details_page"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".seekerDataInput"
            android:exported="false"
            android:label="@string/title_activity_seeker_data_input"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".jobsPage"
            android:exported="false"
            android:label="@string/title_activity_jobvisibletoseeker"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".signIn"
            android:exported="false"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".signUp"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".postJob"
            android:exported="false"
            android:label="@string/title_activity_splashscreen"
            android:theme="@style/Theme.EmployerPage" />
        <activity
            android:name=".splashscreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>